.input-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-result-container {
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    overflow-y: auto;
    margin-top: 70px;
    border-radius: 8px;
    border: 2px solid var(--color-button-default-border);
    max-height: 400px !important;
}

.input-result-container .item {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: var(--paddingItems);
    cursor: pointer;
    background-color: aliceblue;
    color: var(--color-text-black);
    transition: background-color .2s linear;
}

.input-result-container .item:not(:last-child) {
    border-bottom: 1px solid var(--color-button-default-border);
}

.input-result-container .item:hover {
    background-color: var(--color-selected-item);
}

.input-result-container .no-found {
    padding: var(--paddingItems);
    font-size: large;
}

.label-custom {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: var(--marginInput);
    font-weight: 700;
}

.input-custom {
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: var(--paddingInput);
    /* margin: var(--marginInput); */
}

.list-item {
    display: flex;
    padding: 1%;
    align-items: center;
}

.icon-item {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.input-custom-textfield {
    width: 100%;
}