* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Montserrat', sans-serif;

  --color-bg: #fff;
  --color-text-black: #2B2B2B;

  --color-oro: #E3CC86;
  --color-rojo: #A14444;
  --color-button-default-border: #5C6F6D;
  --color-button-default-background: #A8BFBC;

  --color-selected-item: #BEE7EF;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
}