* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Roboto', sans-serif;
  --color-bg: #fff;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
}