.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: white;
  padding: 15px 7%;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.logo-navbar {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  cursor: pointer;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  font-family: 'Momo Trust Display', sans-serif;
}