.resultado-container-inner {
    border: 1px solid var(--color-text-black);
    border-radius: 10px;
    background: #FCE4CB;
    padding: 10px 30px;
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.left-align {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.x-center {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.time {
    font-size: larger;
    font-weight: 600;
}

.distancia {
    font-size: medium;
    font-weight: 400;
}