:root {
    --font-size-icons: 30px;
}

.sb-container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0 0 20px 20px;
    width: 100%;
    border-color: #C5C5C5;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sb-container .inner {
    width: 40%;
}

/*
.sb-container .left-side {
    width: 60%;
}

.sb-container .right-side {
    width: 30%;
}
*/

.icons {
    font-size: var(--font-size-icons) !important;
}

.home-icon-color {
    color: var(--color-oro);
}

.place-icon-color {
    color: var(--color-rojo);
}