.sb-container {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    display: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.resultado-container {
    width: 30%;
}

.resultado-container .resultado {
    width: 100%;
    border-radius: 10px;
    border: #C5C5C5;
}