.sb-container {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    display: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.resultado-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5%;
}

.date-time-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-control-box {
    margin-bottom: 30px;
}

.result-box-stations {
    border-left: 8px solid black;
    min-height: 10px;
    margin-bottom: 30px;
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
}

.lines-result-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.line-item {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-item-result-box {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 10px;
}