.sb-container {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    display: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.resultado-container {
    width: 30%;
}

.resultado-container .resultado {
    width: 100%;
    border-radius: 10px;
    border: #C5C5C5;
}

.date-time-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-control-box {
    margin-bottom: 30px;
}