.sb-container {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    display: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.resultado-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5%;
}

.date-time-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-control-box {
    margin-bottom: 30px;
}

.result-box-stations {
    border-left: 8px solid black;
    min-height: 50px;
    margin-bottom: 30px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 1%;
}